// General styles
.wrapper {
    max-width: 1100px;
    width: 90%;
    min-height: calc(100vh - 59px);
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

span {
    display: block;
}

a {
    text-decoration: none;
    color: $light-color;
}

// Main page styles
.App {
    background-image: url(../assets/mainBg1.jpg);
    background-size: 120%;
    min-height: 100vh;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    margin: 0;
    padding: 15px 0;
}

// List container styles
.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .addText {
        width: 50%;

        &:focus {
            box-shadow: inset 0 0 8px $primary-color;
        }
    }
}

.addText,
.clear {
    padding: 5px 10px;
}

// Combined classes using the same styles
.addText,
.clear,
.suggestionsBlock,
.suggestionsBtn {
    border-radius: 5px;
    background-color: $light-color;
}

.suggestionsBlock,
.suggestionsBtn,
.addText {
    border: 2px solid $primary-color;
}

.shown,
.footer p {
    text-align: center;
}

// Main container
.mainContainer {
    display: flex;
    justify-content: space-between;
}

// List box styles
.listBox,
.suggestionsBlock {
    margin: 20px 0;
}

.listBox {
    background-color: $primary-color;
    min-height: 50vh;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 8px 0 black;

    .prodUl {
        padding-left: 0;
    }

    li {
        text-align: left;
        padding-bottom: 10px;
    }

    .checkBox {
        margin-right: 1rem;

        &:checked + label {
            text-decoration: line-through;
            font-style: italic;
        }
    }

    // clear list button styles
    .clear {
        border: 2px solid transparent;
        color: $primary-color;
        position: absolute;
        right: 0;
        margin-right: 10px;
        transition: all 0.5s ease;
        
        &:hover,
        &:focus {
            border: 2px solid $light-color;
            background-color: $primary-color;
            color: $light-color;
        }
    }
}

// Suggestions section styles
.suggestionsContainer {
    width: 40%;

    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .suggestionsUl {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin: 0;
    }

    li {
        margin: 10px;
        width: calc((100% / 4) - 20px);
    }

    // List of icons with suggested products
    .suggestionsBtn:not(.greyScale) {
        transition: all 0.5s ease;
        background: $light-color;

        &:hover,
        &:focus {
            transform: scale(1.05);
            box-shadow: 2px 2px 5px 0 black;
        }
    }

    img {
        transform: scale(0.90);
    }

    // turn icons already selected to be grayscale
    .greyScale {
        filter: grayscale(1);
    }
}

// Empty list styles
.shown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    display: none;
}

.emptyListImg {
    width: 30%;
}

// Footer styles 
.footer {
    background: $primary-color;

    p {
        margin: 0;
        padding: 5px;
    }
}