@media (max-width: 750px) {
    .mainContainer {
        flex-direction: column;

        .listBox {
            order: 1;
            width: 80%;
            margin: 20px auto;
        }

        .suggestionsContainer {
            margin: 0 auto;
        }
    }

    form {
        text-align: center;
    }
}

